.lives {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 2em;
    transition: 0.5s;
}

.lives:hover {
    transform: scale(1.05);
    background-color: #f0f0f0;
    cursor: pointer;
}

.live {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.live img {
    width: 100%;
    height: auto;
    max-height: 40vh;
}

.textContainer {
    margin-top: 10px;
    text-align: center;
}

.textContainer h4,
.textContainer h5,
p {
    margin: 10px;
}

.link {
    text-decoration: none;
    color: #000;
}

/* Adicionado media query para ajustar o layout em telas menores */
@media only screen and (min-width: 768px) {
    .live {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .live img {
        max-width: 40%;
    }

    .textContainer {
        margin-left: 20px;
        text-align: left;
    }
}
