/* Footer.module.css */

.footer {
  background-color: #000;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.social_list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social_list li {
  margin: 0 1em;
  font-size: 24px;
}

.social_list svg {
  font-size: 1.2em;
  cursor: pointer;
}

.links:hover {
  color: #888888;
}

.links {
  color: white;
  text-decoration: none;
}

.copy_right {
  margin-top: 10px;
  font-size: 14px;
  align-items: center;
  text-align: center;
}

/* Adicione regras de mídia para tornar o rodapé responsivo */
@media screen and (max-width: 768px) {
  .social_list {
    flex-direction: row; /* Display items in a row */
    justify-content: center; /* Center items horizontally */
  }

  .social_list li {
    margin: 0 0.5em; /* Adjust margin for items in a row */
  }
  
  .copy_right {
    margin-top: 1em; /* Add some space below the social icons on smaller screens */
  }
}

.copy_right span {
  font-weight: bold;
}
