.lider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
}

.integrantes {
  margin: 50px;
}

.lider ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lider ul li {
  color: white;
  position: relative;
  margin: 10px 0;
  text-align: center;
}

.lider ul img {
  width: 70%;
  max-width: 200px;
  /* Adapte conforme necessário */
  height: auto;
  border-radius: 50%;
  margin: 10px 0;
  transition: transform 2s;
}

.lider ul img:hover {
  transform: scale(1.06);
}

.lider h5 {
  font-size: 15px;
  color: #5c5c5c96;
}

.lider h1 {
  font-weight: bold;
  margin-top: 20px;
  text-decoration-line: overline;
  text-decoration-color: white;
  color: rgb(255, 255, 255);
}

.principal {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* Alterado para empilhar os elementos */
}

.icon {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.icon svg {
  font-size: 25px;
  margin: 0 15px;
  color: white;
  transition: color 1s, transform 1s;
}

.icon svg:hover {
  color: rgba(236, 235, 235, 0.76);
  transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
  .lider ul img {
    width: 100%;
    /* Ocupar toda a largura em telas menores */
  }
}

.leftContent {
  flex: 1;
  text-align: center;
}

.leftContent h3 {
  font-size: 30px;
  color: rgb(233, 180, 5);
  font-weight: bold;
  text-decoration-line: underline;
}

.leftContent p {
  font-size: 20px;
  color: white;
  margin: 20px;
}

.user {
  width: 70%;
  /* Ocupar toda a largura em telas menores */
  max-width: 300px;
  /* Adapte conforme necessário */
  margin: 20px 0;
}

.section_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/cartoon.webp);
}

.section_content {
  width: 100%;
}

.section_content h1,
.section_content h2 {
  margin: 15px 0;
  padding: 10px;
}