/* Variáveis */
:root {
  --max-width: 1200px;
  --padding-large: 30px;
  --padding-medium: 20px;
  --padding-small: 15px;
}

/* Estilos para todas as telas */
.column_wrapper {
  display: flex;
  justify-content: center;
}

.content_wrapper {
  max-width: var(--max-width);
  width: 100%;
  padding: var(--padding-large);
  height: 100%;
}

.responsiveContent h2 {
  color: white;
  border: 5px solid white;
  padding: var(--padding-large);
  text-align: center;
}

.container {
  position: relative;
  overflow: hidden;
  min-height: 80vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilos para telas médias (tablets, smartphones em modo paisagem) */
@media only screen and (max-width: 1024px) {
  .content_wrapper {
    padding: var(--padding-medium);
  }

  .responsiveContent h2 {
    padding: var(--padding-medium);
  }
}

/* Estilos para telas pequenas (smartphones em modo retrato) */
@media only screen and (max-width: 600px) {
  .content_wrapper {
    padding: var(--padding-small);
  }

  .responsiveContent h2 {
    padding: var(--padding-small);
  }
}
