/* Estilos para telas grandes (desktops, tablets) */
.form {
    margin: 0 5em 0 5em;
}

.icon {
    margin: .8em;
    margin-left: 0;
    margin-top: 7px;
    align-items: center;
    position: relative;
    bottom: -4px;
    width: 25px;
    height: 25px;
}

.titulo{
    text-align: center;
    color: black;
    margin: 20px;
}

.links{
    text-decoration: none;
    color: black;
    transition: 1s;
}

.links:hover{
    color: rgb(119, 119, 119);
    transform: scale(1.4);
}

.contato_item {
    position: relative;
    right: 30px;
}

.texto {
    color: white;
    font-size: 15px;
    padding: .3em;
    text-align: center;
}

.form label {
    margin: 5px;
}

@media screen and (max-width: 1024px) {
    .form {
        margin: 0 2em;
    }

    .btn_form {
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .form {
        margin: 0;
    }

    .column_wrapper {
        flex-direction: column;
    }

    .contato_item {
        right: 0;
    }

    .btn_form {
        margin-left: 0;
    }
}

/* Estilos para telas pequenas (smartphones em modo retrato) */
@media screen and (max-width: 600px) {
    .contato_item {
        right: 0;
    }

    .btn_form {
        margin-left: 0;
    }
}
